.App {
  text-align: center;
}

.App-header {
  background-color:#ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-top: -120px;
}


.App-link {
  color: #61dafb;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 0px;
}

.Card-Header {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #2a2a2a;
  padding: 20px;
  text-align: left;
}

.Subtitle {
  text-align: left;
  padding: 20px 20px 0px 20px;
}

.Weather-Display {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -20px;
}
.Weather-Display > div {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 20px;
}

img {
  margin-top: -10px;
  padding-top: 0px;
}

.Dates {
  font-weight: 600;
}

.Apply-Button {
  width: 200px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 74%;
}
